.tableContainer {
    margin: 20px 0;
    overflow-x: auto;
  }
  
  .tableTitle {
    font-size: 24px;
    color: var(--contrast-color);
    margin-bottom: 15px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--gadient-color);
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--gadient-color);
  }
  
  .table th {
    background-color: var(--primary-color);
    font-weight: bold;
    color: var(--contrast-color);
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .table tr:nth-child(even) {
    background-color: var(--primary-color);
  }
  
  .table tr:hover {
    background-color: var(--gadient-color);
  }
  
  .noData {
    text-align: center;
    color: var(--gradient-color);
    font-style: italic;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 4px;
  }
  .searchInput {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid var(--gadient-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    box-shadow: 0 2px 4px var(--gadient-color);
    transition: all 0.3s ease;
  }
  @media screen and (max-width: 600px) {
    .table {
      font-size: 14px;
    }
  
    .table th,
    .table td {
      padding: 8px 10px;
    }
  }