/* Reset and base styles */


.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Dashboard summary styles */
.summary {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--gadient-color);
}

.summary h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--gadient-color);
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.summary-item {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.summary-item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--gadient-color);
}

.summary-item p {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--contrast-color);
}

/* Graph styles */
.graphContainer {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--gadient-color);
}

.graphContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--gadient-color);
}

/* Comparison styles */
.comparison {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comparison-chart {
  width: 48%;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--gadient-color);
}

/* Highlight styles */
.highlight {
  display: flex;
  flex-direction: row;justify-content: space-evenly;
  align-items: center;
 
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--gadient-color);
}

.highlight h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: var(--gadient-color);
}

.highlight p {
  font-size: 1.1rem;
  color: var(--highlight-color);
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
  .summary-grid {
    grid-template-columns: 1fr;
  }

  .comparison {
    flex-direction: column;
  }

  .comparison-chart {
    width: 100%;
    margin-bottom: 20px;
  }
}